:root {
  --main-font: "Verdana", sans-serif;
  --text-color: white;
  --text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h1 {
  text-align: center;
  text-shadow: var(--text-shadow);
  font-size: 3em;
}

h2 {
  text-align: center;
  font-size: 2em;
}

body {
  font-family: var(--main-font);
  text-shadow: var(--text-shadow);
  font-size: 1em;
  color: white;

  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  gap: clamp(2rem, 8vh, 6rem);
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  background-image: url("Assets/background.webp");
  background-size: cover;
  background-position: center;
  filter: blur(3px);
  z-index: -1;
}

.box-and-scroll {
  display: flex;
  flex-direction: row;
}

.button-descript {
  font: bold;
  font-size: 1;
  color: crimson;
  display: flex;
  flex-direction: row;
  gap: 1.6em;
}

.left-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row-layout {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

.column-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.rolloMaticBox {
  display: block;
  border: 10px ridge black;
  border-radius: 25px;
  padding: 10px;
  background-image: url("Assets/Concrete-texture.png");
  opacity: 1;
}

.left-buttons-style {
  font-family: var(--main-font);
  font-size: 1em;
  text-shadow: var(--text-shadow);
  opacity: 0.8;
  display: flex;
  justify-content: center;
  width: 15px;
  background-color: rgba(155, 71, 2);
  color: white;
  padding: 10px 75px;
  cursor: pointer;
  border-radius: 20px;
  border: 5px ridge black;
}

.button-container {
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  width: auto;
}

.d100-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.d100 {
  font-family: "verdana";
  font-size: 1.5em;
  opacity: 0.8;
  text-shadow: var(--text-shadow);
  display: flex;
  vertical-align: middle;
  justify-content: center;
  width: 20px;
  background-color: darkred;
  color: white;
  padding: 10px 120px;
  cursor: pointer;
  border-radius: 25px;
  border: 7px ridge black;
}

.modifier-input {
  font-family: "verdana";
  width: 50px;
  font-size: 20px;
  padding: 3px;
  border-radius: 25px;
  text-align: center;
  background-color: bisque;
}

.right-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
}

#display {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3em;
  height: 55px;
  width: 200px;
  background-color: white;
  border: 10px ridge black;
  color: black;
}

.right-buttons-style {
  color: white;
  background-color: rgb(0, 85, 0);
  opacity: 0.8;
  font: 15px verdana;
  text-shadow: var(--text-shadow);
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: 7px ridge black;
  cursor: pointer;
}

.box-and-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
}

.slider-and-text {
  display: flex;
  gap: 1em;
}

.rolltime-slider-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.rolltime-slider {
  -webkit-appearance: none;
  appearance: none;
  width: 80%;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.rolltime-slider::-moz-range-thumb {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: url("./Assets/Dice_svgs.png");
  background-size: cover;
  cursor: pointer;
  transform: translateY(-10px); /* Use transform for Firefox */
}

.rolltime-slider:hover,
.left-buttons-style:hover,
.right-buttons-style:hover,
.d100:hover {
  opacity: 1;
}

.rolltime-slider::-webkit-slider-runnable-track {
  height: 6px;
}

.rolltime-slider::-moz-range-track {
  height: 6px;
}

.rolltime-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -7%;
  width: 50px;
  height: 50px;
  background: url(Assets/final_clean_cropped_dice.png);
  background-size: contain;
  cursor: pointer;
}

.slider-descript {
  font-size: 1.5rem;
  color: crimson;
  text-align: center;
}

.stored-rolls-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20%;
  height: 25vw;
  width: 25vw;
  display: flex;
  text-align: center;
  background: url(Assets/Blank-scroll.png);
  background-size: cover;
}

#rolls-array{
  text-align: left;
  font-size: 1em;
  width: 40%;
  height: 45%;
}

@media (max-width: 750px) {
  #scroll-img,
  #rolls-text {
    display: none;
  }
}
