:root {
  --main-font: "Verdana", sans-serif;
  --text-color: white;
  --text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h1 {
  text-align: center;
  text-shadow: var(--text-shadow);
  font-size: 3em;
}

h2 {
  text-align: center;
  font-size: 2em;
}

body {
  font-family: var(--main-font);
  text-shadow: var(--text-shadow);
  font-size: 1em;
  color: white;

  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  gap: clamp(2rem, 8vh, 6rem);
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  background-image: url("Assets/background.webp");
  background-size: cover;
  background-position: center;
  filter: blur(3px);
  z-index: -1;
}

.row-layout {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

.column-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.rolloMaticBox {
  display: block;
  max-height: 90vh;
  overflow-y: auto;
  height: 600px;
  width: 500px;
  border: 10px ridge black;
  border-radius: 25px;
  padding: 10px;
  background-image: url("Assets/Concrete-texture.png");
  opacity: 1;
}

.left-buttons-style {
  font-family: var(--main-font);
  font-size: 1em;
  text-shadow: var(--text-shadow);
  text-align: horizontal;
  display: flex;
  justify-content: center;
  width: 15px;
  background-color: rgba(155, 71, 2);
  color: white;
  padding: 10px 75px;
  cursor: pointer;
  border-radius: 20px;
  border: 5px ridge black;
}

.left-column {
  max-width: 4dh;
}

.button-container {
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  width: auto;
}

.d100-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.d100 {
  font-family: "verdana";
  font-size: 1.5em;
  text-shadow: var(--text-shadow);
  display: flex;
  vertical-align: middle;
  justify-content: center;
  width: 20px;
  background-color: darkred;
  color: white;
  padding: 10px 120px;
  cursor: pointer;
  border-radius: 25px;
  border: 7px ridge black;
}

.modifier-input {
  font-family: "verdana";
  width: 50px;
  font-size: 20px;
  padding: 3px;
  border-radius: 25px;
  text-align: center;
  background-color: bisque;
}

.right-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
}

#display {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3em;
  height: 55px;
  width: 200px;
  background-color: white;
  border: 10px ridge black;
  color: black;
}

.right-buttons-style {
  color: white;
  background-color: rgb(0, 85, 0);
  font: 15px verdana;
  text-shadow: var(--text-shadow);
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: 7px ridge black;
  cursor: pointer;
}

#scroll-img {
  position: relative;
  left: 475px;
  width: 600px;
  height: 550px;
  background-image: url("Assets/Blank-scroll.png");
  background-size: 100%;
  overflow: hidden;
  z-index: -1;
}

#rolls-text {
  text-align: center;
  text-shadow: var(--text-shadow);
  font-size: large;
  position: relative;
  left: 475px;
  width: 265px;
  height: 315px;
}

@media (max-width: 750px) {
  #scroll-img,
  #rolls-text {
    display: none;
  }
}
